{% extends 'base.html' %}

{% block title %}
Echo Downloader | Settings
{% endblock %}

{% block settings %}
class="active"
{% endblock %}

{% block content %}
<div class="container">
    <div class="col s12 m7">
        <h3>Settings</h3>
        <form action="{{ url_for('settings') }}" method="POST">
            <input type="text" id="rss-feed" placeholder="rss feed">
            <button class="btn waves-effect waves-light" type="submit" name="adsfadsf">Submit
                  <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{% endblock %}