{% extends 'base.html' %}

{% block title %}
    Echo Downloader | Settings
{% endblock %}

{% block settings %}
    class="active"
{% endblock %}

{% block content %}
<script>var rss_form_number = 0;</script>
    <div class="container">
        <div class="col s12 m7">
            <h3>Settings</h3>
            <h4 id="lecture-feeds">Lecture Feeds</h4>
            <a class="btn-floating waves-effect waves-light btn" id="add-row" onclick="add_settings_row()">+</a>
            <form action="{{ url_for('settings') }}" method="POST">
                <div id="rows">
                    {% for feed in rss_feeds %}
                        <div class="row" id="row_{{loop.index}}">
                            <div class="input-field col s3">
                                <input type="text" placeholder="Subject Code" value="{{ feed[0] }}" name="code_{{ loop.index }}" id="code_{{ loop.index }}">
                            </div>
                            <div class="input-field col s8">
                                <input type="text" placeholder="RSS URL" value="{{ feed[1] }}" name='rss_{{ loop.index }}' id='rss_{{ loop.index }}'>
                            </div>
                            <div class="delete col s1">
                                <a class="waves-effect waves-light btn" id="delete_{{ loop.index }}" onclick="delete_settings_row({{loop.index}})">-</a>
                            </div>
                        </div>
                    <script>rss_form_number++</script>
                    {% endfor %}
                </div>
                <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>



{% endblock %}